.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputtextwindow {
  width: 100%;
  margin: 20px auto;
  display: block;
}

.listmessage {
  display: block;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  height: 70%; 
  overflow: auto;
}

.head {
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  margin: auto;
}

.userid {
  color: #555d6d;
  font-size: x-small;
  display: block;
  margin: 8px;
}

.messageuser {
  display: block;
  margin-bottom: 15px;
}

.usertext {
  padding: 5px;
  max-width: 400px;
  border-radius: 5px;
  color: white;
}

.input {
  width: 60%;
  padding: 5px;
  height: 35px;
  border-radius: 8px;
  border-color: brown;
  font-size: 15px;
}

.buttoninput {
  height: 35px;
    width: 15%;
    background-color: brown;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    /* border: 4px double #cccccc; */
    color: #ffffff;
    /* padding: 10px; */
    text-align: center;
    cursor: pointer;
}