.App {
  text-align: center;
  height: 100vh;
}


.inputtextwindow {
  width: 100%;
  margin: 20px auto;
  display: block;
}

.listmessage {
  display: block;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  height: 80%; 
  overflow: auto;
  border: 2px solid rgb(141, 90, 90);
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236e0606' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}



.userid {
  color: #555d6d;
  font-size: x-small;
  display: block;
  margin: 8px;
}

.messageuser {
  display: block;
  margin-bottom: 15px;
  padding-left: 20px;
  margin-right: 20px;
  
}

.usertext {
  padding: 5px;
  max-width: 400px;
  border-radius: 5px;
  color: white;
}

.input {
  width: 70%;
  padding: 5px;
  height: 35px;
  border-radius: 8px;
  border-color: brown;
  background-color: brown;
  color: #ffffff;
  font-size: 15px;
}

.buttoninput {
    height: 35px;
    width: 15%;
    background-color: brown;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    /* border: 4px double #cccccc; */
    color: #ffffff;
    /* padding: 10px; */
    text-align: center;
    cursor: pointer;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.window {
    margin-left: 20px;
    background-color: white;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 2px 2px;
    border: 2px solid #6e0606;
    border-radius: 12px;
    height: 90%;
    
}